.search_container{
    background-color: #343434;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.search_title{
    font-weight: bold;
    font-size:1.5rem;
    padding: 2rem 0;
}