.home_container{
    width: 100%;
    min-height: 84vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    color: #ffffff;
    gap: 2rem;
    padding: 1rem;
}

